<a href="https://colab.research.google.com/github/shreyas1925/data_science/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [6]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [7]:
df = iris.copy()
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [8]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [9]:
df.columns = ["sl","sw","pl","pw","flower type"]

In [10]:
df.columns

Index(['sl', 'sw', 'pl', 'pw', 'flower type'], dtype='object')

In [11]:
df.head()

    sl   sw   pl   pw  flower type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [12]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [13]:
df.sw

0      3.0
1      3.2
2      3.1
3      3.6
4      3.9
      ...
144    3.0
145    2.5
146    3.0
147    3.4
148    3.0
Name: sw, Length: 149, dtype: float64

In [14]:
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower type    0
dtype: int64

In [15]:
df.iloc[:9]

    sl   sw   pl   pw  flower type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa

In [16]:
df.drop(0,inplace=True)

In [17]:
df

      sl   sw   pl   pw     flower type
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[148 rows x 5 columns]

In [18]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=148)

In [19]:
df.index[0]

1

In [20]:
df.drop(df.index[[0,1]],inplace=True)

In [21]:
df

      sl   sw   pl   pw     flower type
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[146 rows x 5 columns]

In [22]:
df[df.sl<5]

      sl   sw   pl   pw      flower type
5    4.6  3.4  1.4  0.3      Iris-setosa
7    4.4  2.9  1.4  0.2      Iris-setosa
8    4.9  3.1  1.5  0.1      Iris-setosa
10   4.8  3.4  1.6  0.2      Iris-setosa
11   4.8  3.0  1.4  0.1      Iris-setosa
12   4.3  3.0  1.1  0.1      Iris-setosa
21   4.6  3.6  1.0  0.2      Iris-setosa
23   4.8  3.4  1.9  0.2      Iris-setosa
28   4.7  3.2  1.6  0.2      Iris-setosa
29   4.8  3.1  1.6  0.2      Iris-setosa
33   4.9  3.1  1.5  0.1      Iris-setosa
36   4.9  3.1  1.5  0.1      Iris-setosa
37   4.4  3.0  1.3  0.2      Iris-setosa
40   4.5  2.3  1.3  0.3      Iris-setosa
41   4.4  3.2  1.3  0.2      Iris-setosa
44   4.8  3.0  1.4  0.3      Iris-setosa
46   4.6  3.2  1.4  0.2      Iris-setosa
56   4.9  2.4  3.3  1.0  Iris-versicolor
105  4.9  2.5  4.5  1.7   Iris-virginica

#add a row

In [23]:
df.loc[149]=[1,2,3,4,"iris-sentosa"]

In [24]:
df

      sl   sw   pl   pw     flower type
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
149  1.0  2.0  3.0  4.0    iris-sentosa

[147 rows x 5 columns]

In [25]:
df.drop("sl",axis=1,inplace=True)

In [26]:
df

      sw   pl   pw     flower type
3    3.6  1.4  0.2     Iris-setosa
4    3.9  1.7  0.4     Iris-setosa
5    3.4  1.4  0.3     Iris-setosa
6    3.4  1.5  0.2     Iris-setosa
7    2.9  1.4  0.2     Iris-setosa
..   ...  ...  ...             ...
145  2.5  5.0  1.9  Iris-virginica
146  3.0  5.2  2.0  Iris-virginica
147  3.4  5.4  2.3  Iris-virginica
148  3.0  5.1  1.8  Iris-virginica
149  2.0  3.0  4.0    iris-sentosa

[147 rows x 4 columns]

In [27]:
df.reset_index(drop=True,inplace=True)

In [28]:
df

      sw   pl   pw     flower type
0    3.6  1.4  0.2     Iris-setosa
1    3.9  1.7  0.4     Iris-setosa
2    3.4  1.4  0.3     Iris-setosa
3    3.4  1.5  0.2     Iris-setosa
4    2.9  1.4  0.2     Iris-setosa
..   ...  ...  ...             ...
142  2.5  5.0  1.9  Iris-virginica
143  3.0  5.2  2.0  Iris-virginica
144  3.4  5.4  2.3  Iris-virginica
145  3.0  5.1  1.8  Iris-virginica
146  2.0  3.0  4.0    iris-sentosa

[147 rows x 4 columns]

In [ ]:
df=iris.copy()

In [ ]:
df.columns = ["sl","sw","pl","pw","flower type"]

In [ ]:
df

      sl   sw   pl   pw     flower type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
df["diff"]=df["pl"]-df["sl"]

In [ ]:
df

      sl   sw   pl   pw     flower type  diff
0    4.9  3.0  1.4  0.2     Iris-setosa  -3.5
1    4.7  3.2  1.3  0.2     Iris-setosa  -3.4
2    4.6  3.1  1.5  0.2     Iris-setosa  -3.1
3    5.0  3.6  1.4  0.2     Iris-setosa  -3.6
4    5.4  3.9  1.7  0.4     Iris-setosa  -3.7
..   ...  ...  ...  ...             ...   ...
144  6.7  3.0  5.2  2.3  Iris-virginica  -1.5
145  6.3  2.5  5.0  1.9  Iris-virginica  -1.3
146  6.5  3.0  5.2  2.0  Iris-virginica  -1.3
147  6.2  3.4  5.4  2.3  Iris-virginica  -0.8
148  5.9  3.0  5.1  1.8  Iris-virginica  -0.8

[149 rows x 6 columns]